
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?fz8tw3');
    src: url('../fonts/icomoon.eot?fz8tw3#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?fz8tw3') format('truetype'),
        url('../fonts/icomoon.woff?fz8tw3') format('woff'),
        url('../fonts/icomoon.svg?fz8tw3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
li {
    list-style: none;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'icomoon';
}
.typeArea {
    width: 1200px;
    margin: 0 auto;
}

button,
input[type="button"].cancel-btn {
    /* 重置所有默认样式 */
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
}

