/* 个人信息 */

#personInfo {
    width: 100%;
    background-color: #F1F1F1;
    height: 31px;
    font-size: 14px;
    padding-top: 6px;
}

#personInfo > .typeArea > div:first-child {
    float: left;
    box-sizing: border-box;
}

#personInfo > .typeArea > div:first-child > span {
    margin-right: 10px;
}
#personInfo > .typeArea > div:first-child > span:last-child {
    color: red;
}

#personInfo > .typeArea > div:last-child {
    float: right;
}

#personInfo > .typeArea > div:last-child > ul > li {
    float: right;  

    box-sizing: border-box;

}

#personInfo > .typeArea > div:last-child > ul > li:nth-child(even) {
    float: right;  
    width: 1px;
    height: 12px;
    margin: 5px 10px 0 10px;
    background-color: black;

}

.dropdownicon::after {
    content: "";
    margin-left: 6px;
}


/* 头部 */

body > header {
    position: relative;
    height: 100px;
    box-sizing: border-box;
    padding-top: 20px;
}
body > header > img {
    width: 171px;
    height: 61px;
    float: left;
    margin-right: 150px;
}

body > header > div:first-of-type {
    float: left;
}

body > header > div:first-of-type input[type="search"] {
    float: left;
    width: 450px;
    height: 35px;
    border: 2px solid #B1191A;
    box-sizing: border-box;
}

body > header > div:first-of-type > div > button {
    float: left;
    width: 80px;
    height: 35px;
    text-align: center;
    background-color: #B1191A;
    color: white;
}

body > header > div:first-of-type > div:last-child {
    overflow: hidden;
    padding: 3px 0 0 1px;
}

body > header > div:first-of-type > div:last-child ul li {
    float: left;
    font-size: 13px;
    margin-left: 24px;
}

body > header > div:last-child {
    position: relative;
    float: right;
    width: 130px;
    height: 36px;
    margin-right: 40px;
    box-sizing: border-box;
    padding-top: 8px;
    border: 1px solid #dfdfdf;
    background-color: #F7F7F7;
    text-align: center;
    font-size: 14px;
}



body > header > div:last-child > div:last-child {
    position: absolute;
    height: 16px;
    width: 18px;
    top: -10px;
    right: 16px;
    box-sizing: border-box;
    padding-top: 2px;
    border-radius: 9px 9px 9px 0;
    background-color: #E60012 ;
    font-size: 12px;
    text-align: center;
    color: white;
}